* {
  margin: 10px;
  padding: 0;
}
.arrangements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 10px solid gray;
}
 
.delete-button {
 justify-content: flex-end;
}

.total {
 border: 2px solid red;
}