* {
  font-family: 'Roboto Condensed', sans-serif;
  color: gray;
}

.product-containers {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  align-items: center;

}

.product-button {
  background-color: #DFBFB8;
  height: 30%;
  border: none;
  padding: 100px;
  border-radius: 30%;
}

.product {
  color: gray;
}

button {
  height: 60px;
  width: 200px;
  background-color: #DE8C78;
  color: white;
  font-size: 20px; 
  border: none;
  
}

.close-button {
  background-color: #5C5C5C;
  width: 100px;
}

.modal-flower-view {
  margin: 0
}