* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #36454f;
}


.flower-inner-modal {
  height: 800px;
  width: 800px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: none;
}

.main-body {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-container {
  position: relative;
  height: 400px;
  width: 250px;
  
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .8s ease;

}
.card:hover {
 transform: rotateY(180deg)
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: plum;
  
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: salmon;
  
  transform: rotateY(180deg)
}
 





/* .product-side-front {
  background-color: salmon;
  height: 400px;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
 
}
.product-side-back {
  background-color: plum;
  height: 400px;
  width: 250px;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.product-side-front:hover {
  transform: rotateY(180deg);
  transition: all .9s;
  
}
.product-side-back:hover {
  transform: rotateY(0);
  transition: all .9s;
  visibility: visible;
}













 */

/* 

.landing-photo {
  background-image: url(https://images.unsplash.com/photo-1525498128493-380d1990a112?ixlib=rb-0.3.5&s=904642658ed9a7ecf0253800bc53a991&auto=format&fit=crop&w=975&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 1300px;
  
}





.product {
  color: gray;
}

button {
  height: 60px;
  width: 200px;
  background-color: #DE8C78;
  color: white;
  font-size: 20px; 
  border: none;
  
}

.close-button {
  background-color: #5C5C5C;
  width: 100px;
}

.modal-flower-view {
  margin: 0
}

@media (max-width 600px) {
 

} */
