/* html {
  /* background-image: url('https://i.pinimg.com/originals/f6/90/e1/f690e1e74a4f82bf410e622f6de86d14.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

} */ */
* {
  font-family: 'Roboto Condensed', sans-serif;
  color: gray;
}

/* .landing-photo {
  background-image: url(https://i.pinimg.com/originals/f6/90/e1/f690e1e74a4f82bf410e622f6de86d14.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 1300px;
  
} */

.product-containers {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  align-items: center;
  text-align: center;

}

.product-button {
  background-color: #DFBFB8;
  height: 30%;
  border: none;
  padding: 100px;
  border-radius: 30%;
}

.product {
  color: gray;
}

button {
  height: 60px;
  width: 200px;
  background-color: #DE8C78;
  color: white;
  font-size: 20px; 
  border: none;
  
}

.close-button {
  background-color: #5C5C5C;
  width: 100px;
}

.modal-flower-view {
  margin: 0
}