.decor-modal-card {
  border: 11px solid rgba(128, 128, 128, 0.733);
  background-color: white;
  border-radius: 14px;
  font-size: 28px;
  font-weight: 900;
  margin: 5px;
}

.decor-modal-card button {
  padding: 25px;
  border-radius: 15px;
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #36454f;
  color: white;
  font-weight: 500;
  line-height: 1.7rem;
  font-size: 16px;
  text-transform: uppercase;
}
.decor-modal-card p {
  position: relative;
  top: 20rem;
  left: 30rem;
}

.searchbar input {
  position: absolute;
  top: 3.7rem;
  right: 59rem;
  box-shadow: 2px 2px #36454fbd;
}

.finish-buttons {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.finish-buttons button {
  padding: 10px;
  border-radius: 15px;
  background-color: #36454f;
  color:white;
  line-height: 1.4rem;
  font-weight: 500;
  font-size: 24px;
}
