.grid-container {
  display: grid;
  grid-template: repeat(2, [row] minmax(120px, 1fr)) / repeat(3, [col] 1ft);
  grid-gap: 30px;
}

.item1,
.item2,
.item3,
.item4 {
  align-items: center;
  justify-items: center;
  line-height: 1;
  font-size: 4em;
  color: darkslategray;
}
.item1 {
  grid-column: col 1 / span 4;
  grid-row: row 1;
  background-color: rgba(112, 128, 144, 0.712);
/* background: linear-gradient(to right, rgba(39, 72, 61, 0.756), rgba(255, 255, 255, 0.619)), url(https://i.pinimg.com/564x/59/4d/47/594d4784567b4045d5ef0cb91775cc89.jpg);  background-repeat: no-repeat; */
  background-size: cover;
  height: 70vh;
  width: 100%;
 z-index: -2;
}
.item2 {
  grid-column: col 2;
  grid-row: row 1 / span 1;
  background-image: url(https://i.pinimg.com/564x/59/4d/47/594d4784567b4045d5ef0cb91775cc89.jpg);
  opacity: 0.8;
  height: 50vh;
  margin-top: 20px;
  width: 40vw;
  margin-left: -80px;
  border-radius: 50% 50%;
}
.item3 {
  grid-column: col 1;
  grid-row: row 1 / span 2;
  background: white;
  z-index: .5;
  opacity: 0.8;
  width: 50vw;
  height: 50px;
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 0;
  border-radius: 50% 50%
}

.item4 {
  grid-column: col 1;
  grid-row: row 1;
  background-image: url(https://i.pinimg.com/564x/14/74/23/1474238a135498bf30be75c44b69c508.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: .5;
  width: 28%;
  margin-top: 35px;
}
h1, 
p {
  
  z-index: 2;
}