*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

  
  
  /* #C5BDDC  really pretty baby purple*/
  /* rgb(225, 150, 109), 
  rgba(242, 147, 136, 0.94),
  rgba(198, 105, 89, 0.94) */
.header {
  height: 90vh;
  background-image: linear-gradient(to bottom, 
 #DE8C78,
 #DE8C78,
 #DFBFB8,
 rgba(248, 202, 206, 0.884)
  
   ),
   
  url(https://i.pinimg.com/564x/ff/74/4a/ff744ae74909ae9f9dbc7ac22a17c000.jpg);
  background-size: cover;
  background-position: right;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; 
 

}

.header__logo {
  height: 10rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: #36454f;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(203, 195, 195, 0.4),
             0px 8px 13px rgba(164, 163, 163, 0.1),
             0px 18px 23px rgba(174, 173, 173, 0.1);
 }

.heading-primary--main {
  display: block;
  font-size: 18rem;
  font-weight: 400;
  letter-spacing: 3.5rem; }

.heading-primary--main:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1;
  backface-visibility: hidden; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.75rem;
  animation: ease-out; }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    tranform: translate(0); } }

@keyframes swing {
  15% {
    transform: translateX(5px); }
  30% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(3px); }
  65% {
    transform: translateX(-3px); }
  80% {
    transform: translateX(2px); }
  100% {
    transform: translateX(0); } }

.button:link,
.button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.button--white {
  background-color: #36454f;
  color: white; }

.button::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.button--white::after {
  background-color: pink; }

.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.button--animated {
  animation: moveInButton .5s ease-out 2.5s;
  animation-fill-mode: backwards; }
