*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  line-height: 1.7;
}

.header {
  height: 10vh;
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.white-space h2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  
  font-size: 60px;
}




/* @keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    tranform: translate(0); } }

@keyframes swing {
  15% {
    transform: translateX(5px); }
  30% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(3px); }
  65% {
    transform: translateX(-3px); }
  80% {
    transform: translateX(2px); }
  100% {
    transform: translateX(0); } }

.button:link,
.button:visited {
  text-transform: lowercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.button--white {
  background-color: #36454f;
  color: white; }

.button::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }
/* 
.button--white::after {
  background-color: pink; }

.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.button--animated {
  animation: moveInButton .5s ease-out 2.5s;
  animation-fill-mode: backwards; } */

    /* #C5BDDC  really pretty baby purple*/
  /* rgb(225, 150, 109), 
  rgba(242, 147, 136, 0.94),
  rgba(198, 105, 89, 0.94) */ 