.image-scroll {
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 260px;
  overflow-x: auto;
}

.image-container h1{
  text-align: center;
  text-transform: uppercase;
  
}
.image-container h2 {
  text-align: center;
  text-transform: capitalize;
}
.image-container {
  
  margin: 200px 90px;
}