ul {
  list-style: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  height: 20px;
  background-color: #DE8C78;
  color: white;
}

.navbar-left-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-right-container {
  display: flex;
  flex-direction: row;
  align-items: right;
}




 
