.modal-card {
  border: 11px solid rgba(128, 128, 128, 0.733);
  border-radius: 14px;
  font-size: 28px;
  font-weight: 900;
  height: 580px;
  margin:3px;
  background-color: white;
  position: relative;
}

.modal-card button {
  padding: 25px;
  margin-top: 80px;
  margin-right: 50px;
  border-radius: 15px;
  float: right;
  background-color: #36454f;
  color: white;
  line-height: 1.7rem;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.modal-card p {
  position: relative;
  top: 20rem;
  left: 30rem;
}

.sticky-header {
  background-color:rgba(211, 211, 211, 0.623);
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 2;
  width: 93.5%;
  height: 70px;
  display: flex;
}

.vase-searchbar input {
  box-shadow: 2px 2px #36454fbd;
} 