.modal-card {
  border: 11px solid rgba(128, 128, 128, 0.733);
  border-radius: 14px;
  font-size: 28px;
  font-weight: 900;
  height: 580px;
  margin:3px;
  background-color: white;
  position: relative;
}

.modal-card button {
  padding: 25px;
  margin-top: 80px;
  margin-right: 50px;
  border-radius: 15px;
  float: right;
  background-color: #36454f;
  color: white;
  line-height: 1.7rem;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.modal-card p {
  position: relative;
  top: 20rem;
  left: 30rem;
}


.sticky-header {
  background-color: rgba(250, 128, 114, 0.646);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 74%;
  height: 70px;
  display: flex;
}

.searchbar input {
  box-shadow: 2px 2px #36454fbd;
  height: 3px;
} 
.finish-buttons button{
 display: flex;
 font-size: 14px;
 margin-top: 0;
 padding:0;
 
}
@media (max-width: 600px) {
  #inner-modal-id {
    /* max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding:0;
    border: 0; */
    align-items: center;
    
    bottom: 0;
    /* // height: '900px',  // set height */
    left: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    /* width: 60%; */
    max-width: 400px;
  }
  .modal-card img {
    max-width: 200px;
    height:250px;
  }
}